<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.batman.upms.rpc.mapper.UpmsOrganizationExtMapper">
    <resultMap id="BaseResultMap" type="com.batman.upms.dao.model.UpmsOrganization">
        <id column="uuid" jdbcType="VARCHAR" property="uuid" />
        <result column="id" jdbcType="VARCHAR" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="parent_uuid" jdbcType="VARCHAR" property="parentUuid" />
        <result column="organization_type" jdbcType="TINYINT" property="organizationType" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="isvisible" jdbcType="INTEGER" property="isvisible" />
        <result column="isenable" jdbcType="INTEGER" property="isenable" />
        <result column="deleteflag" jdbcType="INTEGER" property="deleteflag" />
    </resultMap>

    <select id="selectUpmsWorkByUserid" parameterType="String" resultMap="BaseResultMap">
		select uo.id ,uo.name from upms_organization uo
		inner join upms_organization_user uou on uou.umps_organization_id = uo.id
		inner join umps_user uu on uu.id = uou.umps_user_id
		where uo.isenable = 1 
		and uu.status = 0
		and uo.deleteflag = 0 
		and uou.deleteflag = 0
		and uu.deleteflag = 0
		and uu.id = #{userId}
    </select>
</mapper>